<template>
  <div>
    <login-card
      ref="loginCard"
      :email="email"
      :password="password"
      @click:submit="onSubmit"
      @update:email="email = $event"
      @update:password="password = $event"
    />
  </div>
</template>

<script>
import LoginCard from "../components/LoginCard.vue";
export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  components: {
    LoginCard,
  },
  methods: {
    onSubmit() {
      this.$router.push({ path: "/" });
    },
  },
};
</script>

<style></style>
