<template>
  <z-card title="Fazer login" width="100%" class="auth-layout-card login-card">
    <template #content>
      <div class="oauth-options">
        <z-btn
          rounded
          small
          class="google-auth"
          text="GOOGLE"
          icon="$social_google"
          @click="$emit('click:google')"
        />
        <z-btn
          rounded
          small
          class="facebook-auth"
          text="FACEBOOK"
          icon="$social_facebook"
          @click="$emit('click:facebook')"
        />
        <z-btn
          rounded
          small
          class="instagram-auth"
          text="INSTAGRAM"
          icon="$social_instagram"
          @click="$emit('click:instagram')"
        />
      </div>

      <div class="login-type-divider">
        <div class="divider"></div>
        <span class="d-flex body3">ou</span>
        <div class="divider"></div>
      </div>

      <div class="form-inputs">
        <z-input
          placeholder="example@gmail.com"
          hide-details
          class="mb-3"
          label="E-mail"
          :value="email"
          @input="$emit('update:email', $event)"
        />

        <z-input
          type="password"
          placeholder="Senha"
          label="Senha"
          :value="password"
          @input="$emit('update:password', $event)"
        />
      </div>
      <z-btn
        text="Enviar"
        rounded
        small
        primary
        @click="$emit('click:submit')"
      />
    </template>
  </z-card>
</template>

<script>
export default {
  props: {
    email: {
      type: String,
      required: true,
    },
    password: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.social-chip {
  i {
    margin-right: 0px !important;
  }
}
</style>

<style lang="scss" scoped>
.login-card {
  display: grid;
  row-gap: 12px;
  max-width: 400px;
}

.oauth-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  width: 100%;
  .instagram-auth {
    padding-left: 25px;
  }
}

.login-type-divider {
  display: grid;
  grid-template-columns: 1fr 2ch 1fr;
  column-gap: 12px;

  span {
    text-align: center;
  }

  .divider {
    height: 0px;
    border-bottom: 1px solid var(--black-100);
    align-self: center;
  }
}
</style>
