<template>
  <div class="login-layout">
    <img class="main-logo" src="../assets/img/main-logo-white.svg" />
    <div class="animations">
      <div ref="waves" class="bg-waves"></div>
      <div class="illustration-container">
        <div class="description">
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="content">
      <vue-page-transition name="fade">
        <router-view />
      </vue-page-transition>
    </div>
  </div>
</template>

<script>
import lottie from "lottie-web";

export default {
  mounted() {
    lottie
      .loadAnimation({
        container: this.$refs.waves,
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: `${process.env.BASE_URL}waves.json`,
      })
      .setSpeed(0.25);
  },
};
</script>

<style lang="scss" scoped>
.login-layout {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .main-logo {
    position: fixed;
    left: 45px;
    top: 45px;
    z-index: 10;
  }

  .bg-waves {
    position: fixed;
    left: 0;
    bottom: -10px;
    width: 70%;
    z-index: 2;
  }

  .illustration-container {
    height: 100%;
    background-size: 110% 100%;
    position: relative;

    .description {
      position: absolute;
      right: 0;
      left: 5%;
      top: 44%;
      bottom: 50%;
      z-index: 5;

      p {
        font-size: 2.625rem;
        width: 277px;
        line-height: 49px;
        margin-bottom: 0;
        color: #ffff;
        font-weight: 300;
      }
    }
  }

  .content {
    justify-self: center;
    z-index: 20;
  }
}
</style>
