<template>
  <z-main-layout
    username="Zoox"
    product="testando login"
    style="height: 100%; width: 100%"
    :menu-options="menuOptions"
    :lang="lang"
    :lang-options="langs"
    @change-lang="lang = $event"
    @click="onClickOption"
    @logout="onLogout"
  >
    <template v-slot:content>
      <vue-page-transition name="fade-in-right">
        <router-view />
      </vue-page-transition>
    </template>
  </z-main-layout>
</template>

<script>
export default {
  data() {
    return {
      lang: "pt",
      langs: ["pt"],
    };
  },
  computed: {
    menuOptions() {
      return [
        {
          title: "Opção root",
          icon: "$zoox_person",
          isActive: this.$route.path === "/",
          route: "/",
        },

        {
          title: "Com subopção",
          icon: "$zoox_home",
          isActive: false,
          options: [{ title: "Exemplo subopção", options: [], route: "/" }],
        },
      ];
    },
  },
  methods: {
    onClickOption(option) {
      this.$router.push({ path: option.route });
    },
    onLogout() {
      this.$router.push({ path: "/auth/login" });
    },
  },
};
</script>
